
<div class="col-xs-3 col-md-1">
<h2>Build by</h2>
</div>
<div class="col-xs-3 col-md-1">
<a href="https://www.linkedin.com/in/mrmarciaong/" target="_blank" class="thumbnail" style="  text-align: center;">
<img src="/picture/marcia.png" alt="Marcia Ong">Marcia Ong
</a>
</div>
//- <div class="col-xs-3 col-md-1">
//- <a href="https://www.linkedin.com/in/andy-jiahui-z/" class="thumbnail" target="_blank" style="  text-align: center;">
//- <img src="/picture/andy.jpg" alt="andy">Andy
//- </a>
//- </div>
//- <div class="col-xs-3 col-md-1">
//- <a href="https://www.linkedin.com/in/azharaz/" class="thumbnail" target="_blank" style="  text-align: center;">
//- <img src="/picture/azhar.jpg" alt="azhar">Azhar
//- </a>
//- </div>